# Test results
The output below shows the details of Ahmet first
,then the details of all users (Ahmet and Mehmet)
,then the update of Ahmet's name and email address
and finally the details of the last updated user (Ali).

![Ekran görüntüsü 2023-02-16 120556](https://user-images.githubusercontent.com/86796541/219319864-b380f020-c303-4d5b-96ad-a43b43e6d3f4.png)
